#Importing initial libraries

In [ ]:
import pandas as pd

#Reading data

In [ ]:
movies_data = pd.read_csv('movies.csv')

In [ ]:
movies_data.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

#Preprocessing of data

In [ ]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [ ]:
#genres,keywords,title,cast,director,overview
selected_features = ['genres','keywords','title','overview','cast','director']
print(selected_features)

['genres', 'keywords', 'title', 'overview', 'cast', 'director']

Selecting relevant features for our model

In [ ]:
movies_data.isnull().sum()

index                      0
budget                     0
genres                    28
homepage                3091
id                         0
keywords                 412
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                      43
crew                       0
director                  30
dtype: int64

In [ ]:
movies_data.dropna(inplace=True)

Dropping null values

In [ ]:
movies_data.head(1)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron

In [ ]:
movies_data.loc[0,'keywords']

'culture clash future space war space colony society'

In [ ]:
def cast_merge(a):
    b=a.split()
    if(len(b)==1):
        result=b[0]
    elif(len(b)==2):
        result=b[0]+""+b[1]
    elif(len(b)==3):
        result=b[0]+""+b[1]+" "+b[2]
    else:
        result=b[0]+""+b[1]+" "+b[2]+""+b[3]
    return(result)
cast_merge(movies_data['cast'][1])

'JohnnyDepp OrlandoBloom'

Taking first two actors into conideration and removing spaces between their first name and last name to make our model robust

In [ ]:
movies_data['cast']=movies_data['cast'].apply(cast_merge)

In [ ]:
movies_data['cast']

0          SamWorthington ZoeSaldana
1            JohnnyDepp OrlandoBloom
2         DanielCraig ChristophWaltz
3         ChristianBale MichaelCaine
4           TaylorKitsch LynnCollins
                    ...
4772            RobertHill RobinHill
4773    BrianO'Halloran JeffAnderson
4781        SuziLorraine JaredDegado
4791          MichaelParle EmmaEliza
4796      ShaneCarruth DavidSullivan
Name: cast, Length: 1432, dtype: object

In [ ]:
def merge_director(a):
    if(len(a.split())==1):
        return(a)
    else:
        return(a.split()[0]+""+a.split()[1])

Removing space between first and last name of the director for the same reason

In [ ]:
movies_data['director']=movies_data['director'].apply(merge_director)

In [ ]:
movies_data['director']

0           JamesCameron
1          GoreVerbinski
2              SamMendes
3       ChristopherNolan
4          AndrewStanton
              ...
4772         BenWheatley
4773          KevinSmith
4781         TravisLegge
4791        IvanKavanagh
4796        ShaneCarruth
Name: director, Length: 1432, dtype: object

In [ ]:
movies_data['title']

0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
4772                                Down Terrace
4773                                      Clerks
4781                                   Dry Spell
4791                                 Tin Can Man
4796                                      Primer
Name: title, Length: 1432, dtype: object

In [ ]:
def remove(string):
    return string.replace(" ", "")

In [ ]:
movies_data['title']=movies_data['title'].apply(remove)

In [ ]:
movies_data['title']

0                                   Avatar
1       PiratesoftheCaribbean:AtWorld'sEnd
2                                  Spectre
3                       TheDarkKnightRises
4                               JohnCarter
                       ...
4772                           DownTerrace
4773                                Clerks
4781                              DrySpell
4791                             TinCanMan
4796                                Primer
Name: title, Length: 1432, dtype: object

In [ ]:
combined_features = movies_data['genres']+' '+movies_data['keywords']+' '+movies_data['title']+' '+movies_data['overview']+' '+movies_data['cast']+' '+movies_data['director']

Combining all the relevant features for our model into one variable

In [ ]:
combined_features

0       Action Adventure Fantasy Science Fiction cultu...
1       Adventure Fantasy Action ocean drug abuse exot...
2       Action Adventure Crime spy based on novel secr...
3       Action Crime Drama Thriller dc comics crime fi...
4       Action Adventure Science Fiction based on nove...
                              ...
4772    Drama Action Comedy murder dark comedy crime f...
4773    Comedy salesclerk loser aftercreditsstinger Cl...
4781    Comedy Romance dating divorce sex scene sex co...
4791    Horror home invasion TinCanMan Recently dumped...
4796    Science Fiction Drama Thriller distrust garage...
Length: 1432, dtype: object

In [ ]:
def low(a):
    return(a.lower())

In [ ]:
combined_features=combined_features.apply(low)

In [ ]:
combined_features

0       action adventure fantasy science fiction cultu...
1       adventure fantasy action ocean drug abuse exot...
2       action adventure crime spy based on novel secr...
3       action crime drama thriller dc comics crime fi...
4       action adventure science fiction based on nove...
                              ...
4772    drama action comedy murder dark comedy crime f...
4773    comedy salesclerk loser aftercreditsstinger cl...
4781    comedy romance dating divorce sex scene sex co...
4791    horror home invasion tincanman recently dumped...
4796    science fiction drama thriller distrust garage...
Length: 1432, dtype: object

In [ ]:
movies_data['tags']=combined_features
movies_data['tags'].apply(len).min()
movies_data['tags'].apply(len).median()

406.0

In [ ]:
movies_data.shape[0]*movies_data['tags'].apply(len).median()

581392.0

Approximately total words in the corpus is 580,000

In [ ]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [ ]:
def stem(a):
    y=[]
    for i in a.split():
        y.append(ps.stem(i))
    return(" ".join(y))

In [ ]:
movies_data['tags'].apply(stem)

0       action adventur fantasi scienc fiction cultur ...
1       adventur fantasi action ocean drug abus exot i...
2       action adventur crime spi base on novel secret...
3       action crime drama thriller dc comic crime fig...
4       action adventur scienc fiction base on novel m...
                              ...
4772    drama action comedi murder dark comedi crime f...
4773    comedi salesclerk loser aftercreditssting cler...
4781    comedi romanc date divorc sex scene sex comedi...
4791    horror home invas tincanman recent dump by hi ...
4796    scienc fiction drama thriller distrust garag i...
Name: tags, Length: 1432, dtype: object

Low casing and stemming the words in 'tags' column to their root word

#Model

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [ ]:
vec=cv.fit_transform(movies_data['tags'])

In [ ]:
len(cv.get_feature_names_out())

5000

We take only 5000 words out of 580,000

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
cosine_similarity(vec)

array([[1.        , 0.09379581, 0.05679618, ..., 0.        , 0.        ,
        0.08740748],
       [0.09379581, 1.        , 0.05504819, ..., 0.05970814, 0.08989331,
        0.        ],
       [0.05679618, 0.05504819, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.05970814, 0.        , ..., 1.        , 0.04428074,
        0.        ],
       [0.        , 0.08989331, 0.        , ..., 0.04428074, 1.        ,
        0.        ],
       [0.08740748, 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [ ]:
similarity=cosine_similarity(vec)

In [ ]:
similarity.shape

(1432, 1432)

Similarity of each movie with other movies

In [ ]:
movies_data[movies_data['title']=="Avatar"].index[0]

0

In [ ]:
def recommend(movie):
    movie_index=movies_data[movies_data['title']==movie].index[0]
    distances=similarity[movie_index]
    movies_list_index=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list_index:
        print(movies_data.iloc[i[0]].title)

#User input

In [ ]:
movie_name = input(' Enter your favourite movie name : ')
recommend(movie_name)

 Enter your favourite movie name : Avatar
Moonraker
GuardiansoftheGalaxy
Lockout
Gravity
Alien

Printing top 5 similar movies to the user input.